<div class="col-md-9">
    {{ cms_slot_widgets(widget.id ~ '_1', {'availableWidgets' : availableWidgets}) }}
</div>
<div class="col-md-3">
    {{ cms_slot_widgets(widget.id ~ '_2', {'availableWidgets' : availableWidgets}) }}
</div>