<div class="col-md-3">
    {{ cms_slot_widgets(widget.childrenSlot ~ '_1', {'availableWidgets' : availableWidgets}) }}
</div>
<div class="col-md-6">
    {{ cms_slot_widgets(widget.childrenSlot ~ '_2', {'availableWidgets' : availableWidgets}) }}
</div>
<div class="col-md-3">
    {{ cms_slot_widgets(widget.childrenSlot ~ '_3', {'availableWidgets' : availableWidgets}) }}
</div>
